<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.SystemMapper">

    <!-- 消息提醒列表 -->
    <select id="dataGridMessage" parameterType="java.util.Map"   resultType="com.platform.commons.utils.PageData">
        SELECT
        a.id,
        a.create_time as createTime,
        a.massage,
        a.is_delete as isDelete,
        a.is_yorn as isYorn,
        a.write_time as writeTime,
        b.nickname,
        b.tel
        FROM
        t_massage a,t_user b
        WHERE
        a.user_uuid = b.uuid
        <if test=" nickname != null and nickname != '' ">
            and   b.nickname LIKE CONCAT('%',CONCAT(#{nickname},'%') )
        </if>
        order by a.id desc
    </select>

    <!-- 问题反馈列表 -->
    <select id="dataGridProblem" parameterType="java.util.Map"   resultType="com.platform.commons.utils.PageData">
        SELECT
        a.id as userId,
        a.type,
        a.remarks,
        a.create_time as createTime,
        b.nickname,
        b.tel
        FROM
        t_feedback a, t_user b
        WHERE
        a.create_by = b.uuid
        <if test=" nickname != null and nickname != '' ">
            and   b.nickname LIKE CONCAT('%',CONCAT(#{nickname},'%') )
        </if>
        order by a.id desc
    </select>

</mapper>