<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- shiro 权限控制 -->
	<bean id="shiroSecurityFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- shiro 的核心安全接口 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接 -->
		<property name="loginUrl" value="/cms/api/busindex" />
		<!-- 登陆成功后要跳转的连接 -->
		<property name="successUrl" value="/cms/index" />
		<!-- 权限不足，跳转路径  -->
		<property name="unauthorizedUrl" value="/" />
		<!-- shiro 连接约束配置 -->
		<!-- URL控制规则  路径=规则 -->
		<property name="filterChainDefinitions">
			<value>
			 <!-- 静态资源允许访问 -->
				/apiresources/** = anon
                /bootstrap/** = anon
				/api/** = anon
				/currency/** = anon
                /dist/** = anon
                /gamescard/** = anon
                /layer/** = anon
                /plugins/** = anon
				/qrcode/** = anon
				/switch/** = anon
				/time/** = anon
				/userImage/** = anon
				/ztree/** = anon
                <!-- 登录页允许访问 -->
                /cms/login = anon
                <!-- 获取登录验证码 -->
				/cms/captcha-image = anon
				<!-- 上传图片 -->
				/cms/order/saveImage = anon
				<!-- API接口 -->
				/cms/api/** = anon
                <!-- 其他资源需要认证 -->
                /** = authc
			</value>
		</property>
	</bean>
	
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="cyberRealm"/>
	</bean>
	
	<bean id="cyberRealm" class="com.platform.shiro.CmsGuessRealm">
		 <property name="credentialsMatcher" ref="hashedCredentialsMatcher" />  
		 <!--<property name="cacheManager" ref="shiroEhcacheManager"/>-->
		 <!-- 启用身份验证缓存，即缓存AuthenticationInfo信息，默认false -->
         <property name="authenticationCachingEnabled" value="true"/>
         <!-- 缓存AuthenticationInfo信息的缓存名称 -->
         <property name="authenticationCacheName" value="authenticationCache" />
          <!-- 启用身份验证缓存，即缓存AuthenticationInfo信息，默认false -->
         <property name="authorizationCachingEnabled" value="true" />
         <!-- 缓存AuthenticationInfo信息的缓存名称 -->
         <property name="authorizationCacheName" value="authorizationCache" />
	</bean>
	
	<!-- 密码匹配规则 -->
	<bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">  
        <property name="hashAlgorithmName" value="MD5" />  
        <property name="storedCredentialsHexEncoded" value="true" />  
        <property name="hashIterations" value="1" />  
	</bean>  
	
	<!-- 会话管理器 -->
	 <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
	 	<!-- 定义的是全局的session会话超时时间，此操作会覆盖web.xml文件中的超时时间配置 -->
         <!--<property name="globalSessionTimeout" value="86400000"/>-->
         <property name="sessionDAO" ref="sessionDAO"/>
	 </bean>
	 
	 <!-- 会话DAO 用于会话的CRUD -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <!-- Session缓存名字，默认就是shiro-activeSessionCache -->
        <property name="activeSessionsCacheName" value="activeSessionCache"/>
    </bean>
</beans>
