html, body, h1, h2, h3, h4, h5, h6, header, footer, menu, div, p, ul, ol, blockquote, dl, dt, dd {
    margin: 0;
    padding: 0;
}

.button {
    border: 0px;
}

body{
    width: 100%;
}

iframe body{
    width: 100%;
}


ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.indexcolor {
    color: #80c269;
    letter-spacing: 2px
}

/*首页*/
.apiLogoDiv {
    width: 100%;
    background: url("../img/web/one.png");
    height: 150px;
    color: white;
    padding-top: 2%;
}

.apiLogoDiv .index_title_one {
    width: 200px;
    height: 75px;
    float: left;
    margin-left: 10%;
}

.apiLogoDiv .index_title_two {
    width: 960px;
    height: 50%;
    float: left;
    margin-left: 5%;
}

.apiLogoDiv .index_title_three {
    width: 300px;
    height: 50%;
    float: right;
    margin-right: 5%;
}

.index_logimage {
    float: left;
}

.apiLogoDiv .index_title_one span {
    display: block;
    font-family: Benmo-Wuyu;
    font-size: 25px;
    color: #80c269;
    float: right;
    margin-top: 5%;
}

.apiLogoDiv .index_title_two a {
    display: block;
    float: left;
    margin-top: 2%;
    margin-right: 10%;
    font-size: 16px;
    color: white;
}

.user_head {
    width: 15%;
    float: left;
}

.index_login {
    text-align: center;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
}

.apiLogoImage {
    width: 100%;
}

.contentDiv {
    margin-top: 80px;
    width: 100%;
    background: url("../img/web/two.png");
    padding-bottom: 20px;
}

.contentDiv_one {
    width: 100%;
    text-align: center;
    padding-top: 4%;
}

.contentDiv_one span {
    font-size: 20px;
}

.contentDiv_two {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.footer {
    margin-top: 80px;
    width: 100%;
}

/*个人中心*/
.content {
    margin: 100px auto;
    border: 2px solid #b7b7b7;
    width: 80%;
    height: 600px;
}

.content_left {
    width: 20%;
    height: 600px;
    border-right: 2px solid #b7b7b7;
    float: left;
}

.content_left li {
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 60px;
}

.content_left li:hover {
    background-color: #00B83F;
    cursor: pointer;
}

.content_right {
    width: 80%;
    height: 100%;
    float: left;
}

/*账号设置*/
.zhsz_div {
    padding-top: 3%;
    padding-left: 6%;
}

.zhsz_div .change {
    margin-right: 50px;
    float: left;
    padding: 10px;
}

.zhszInput {
    width: 304px;
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #b5b5b5;
}

.zhszInputYzm {
    width: 187px;
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #b5b5b5;
}

.zhszType {
    width: 116px;
    height: 39px;
    border: solid 1px #80c369;
}

.zhsz_div .change:hover {
    cursor: pointer;
}

.zhsz_div li {
    display: block;
    width: 600px;
    height: 70px;
    text-align: left;
}

.zhszTitel{
    width: 72px;
    height: 18px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 87px;
    letter-spacing: 0px;
    color: #333333;
}

/*.zhsz_div li input {
    height: 30px;
}

.zhsz_div li button {
    width: 105px;
    height: 50px;
    padding: 5px
}*/

.zhszSend {
    width: 105px;
    height: 47px;
    background-color: #80c369;
    box-shadow: 3px 0px 4px 0px
    rgba(3, 0, 1, 0.31);
    border-radius: 10px;
    padding: 5px;
}

.zhszOk {
    width: 118px;
    height: 47px;
    background-color: #80c369;
    box-shadow: 3px 0px 4px 0px
    rgba(3, 0, 1, 0.31);
    border-radius: 10px;
}

.zhsz_div button:hover {
    cursor: pointer;
}

.ready {
    display: none;
}

/*我的消息*/
.message_div {
    font-size: 16px;
    padding-top: 3%;
    padding-left: 6%;
}

.message_div table {
    width: 80%;
}

.message_div tr {
    width: 80%;
}

/*.message_div td {
    text-align: center;
    width: 25%;
    border: 1px solid #d2d6de;
    padding: 2px
}*/

.messageTdContent {
     width: 45%;
     text-align: center;
     /*background-color: #eeeeee;*/
     border: solid 1px #b5b5b5;
 }

.messageTdCheckbox {
    width: 15%;
    text-align: center;
    /*background-color: #eeeeee;*/
    border: solid 1px #b5b5b5;
}

.messageTdYorn {
    width: 15%;
    text-align: center;
    /*background-color: #eeeeee;*/
    border: solid 1px #b5b5b5;
}
.messageTdTime {
    width: 25%;
    text-align: center;
    /*background-color: #eeeeee;*/
    border: solid 1px #b5b5b5;
}


.message_div input[type=checkbox] {
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border: solid 1px #b5b5b5;
}

.messageBtn {
    width: 137px;
    height: 32px;
    background-color: #80c369;
    border-radius: 5px;
    border: solid 1px #626262;
}

/*.message_div button {
    width: 105px;
    background-color: #06dc00;
    padding: 5px
}*/

/*注册*/
.zc_div{
    width:21%;
    position: absolute;
    float: right;
    margin-top: 10%;
    margin-left: 70%;
    background:transparent;
    color:#0c0c0c;
    background-color:rgba(255,255,255,0.15);
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    padding-bottom: 15px;

}
.zc_div_title{
    width: 100%;height: 67px;
    background-color:#80c369;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
    color: black;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 30px;
}
.zc_div li{
    display: block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 4%;
    clear: both;
}

.zc_div li input[type=text]{
    width: 100%;
    height: 45px;
    padding-left: 1%;
}
.zc_div li input[type=password]{
    width: 100%;
    height:45px;
    padding-left: 1%;
}

.zc_div li span{
    display: block;
    height:45px;
    width: 40%;background-color:#80c369;float: right;text-align: center;padding-top:18px ;
}
.zc_div li span:hover{
   cursor: pointer;
}

.zc_div li div{
    width: 100%;height:45px;background-color:#80c369;text-align: center;padding-top:18px ;margin-bottom: 10px;
}
.zc_div li div:hover{
    cursor: pointer;
}

/**
    问题反馈
 */
.feedbackButton {
    width: 265px;
    height: 63px;
    background-color: #80c369;
    box-shadow: 3px 0px 4px 0px
    rgba(3, 0, 1, 0.31);
    border-radius: 10px;
}

.feedbackDiv {
    padding-top: 3%;
    padding-left: 6%;
}

.feedbackDiv .change {
    margin-right: 50px;
    float: left;
    padding: 10px
}
.title {
    width: 78px;
    height: 18px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
}


.titleTwo {
    padding-top:50px ;
    width: 78px;
    height: 60px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
}

.area {
    width: 605px;
    height: 232px;
    border: solid 1px #999999;
    opacity: 0.5;
}
.hr {
    width: 605px;
    height: 2px;
    border-top:2px dotted #185598;
    background-color: #ebebeb;
    border:none;
}


.updateType {
    width: 116px;
    height: 39px;
    border: solid 1px #80c369;
}
/**
个人资料
 */
.grzlDiv {
    padding-top: 3%;
    padding-left: 6%;
}

.grzlBtn {
    width: 118px;
    height: 47px;
    background-color: #80c369;
    box-shadow: 3px 0px 4px 0px
    rgba(3, 0, 1, 0.31);
    border-radius: 10px;
}

.grzlInput {
    width: 304px;
    height: 52px;
    border: solid 1px #b5b5b5;
}

.grzlLabel {
    width: 75px;
    height: 17px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 87px;
    letter-spacing: 0px;
    color: #333333;
}

.grzlRadio{
    width: 16px;
    height: 16px;
    background-color: #b5b5b5;
    border: solid 2px #a0a0a0;
}

.grzlSpan {
    width: 36px;
    height: 18px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 87px;
    letter-spacing: 0px;
    color: #333333;
}


/*发布行程*/
.fbxc_div_all{
    display: none;
}
.fbxc_div{
    margin: 20px auto;width: 50%;
}
.fbxc_div li{
    display: block;margin-bottom: 18px;width: 100%;
}
.fbxc_div li span:first-child{
    display: inline-block;
}

.fbxcInputTime{
    width: 403px;
    height: 33px;
    border: solid 1px #333333;
    opacity: 0.5;
}
.fbxcSpanRed{
    width: 10px;
    height: 18px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    /*line-height: 87px;*/
    letter-spacing: 0px;
    color: #fe0000;
}
.fbxcSpanName {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
}

.fbxcSelect{
    width: 137px;
    height: 33px;
    border-radius: 5px;
    border: solid 1px #333333;
    opacity: 0.5;
}
.fbxcYcrs{
    width: 126px;
    height: 33px;
    border: solid 1px #333333;
    opacity: 0.5;
}
.fbxcRemarks{
    width: 398px;
    height: 112px;
    border: solid 1px #333333;
    opacity: 0.5;
}
.fbxcRedio{
    width: 50px;
    height: 15px;
    background-color: #d9d9d9;
    border: solid 0px #b7b7b7;
}
.fbxctitleName{
    width: 56px;
    height: 16px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fe0000;
}

.fbxcBtn{
    width: 188px;
    height: 45px;
    background-color: #80c269;
    border-radius: 5px;
}

.fbxcDelBtn{
    width: 80px;
    height: 33px;
    background-color: #fe413f;
    border-radius: 5px;
}
.fbxcTjBtn{
    width: 137px;
    height: 38px;
    background-color: #80c269;
    border-radius: 5px;
}

.fbxcCyBtn{
    width: 79px;
    height: 38px;
    background-color: #80c269;
    border-radius: 5px;
}

.fbxcRedioName{
    width: 80px;
    height: 22px;
    font-size: 18px;
    background-color: #80c269;
}

.fbxc_div_content{
    border: 1px solid #f0f6e4;width: 100%;
}
.fbxc_div_content_content{
    width: 100%;padding-top: 8%;padding-left: 10%;
}
.fbxc_div_title{
    width: 100%;padding: 4px;background-color:#80c369;
}

.fbxc_div_next{
    background-color:#80c369;margin: 10px auto;padding:  10px 0;text-align: center;width: 100px;
}

/*常用信息*/
.cyxx_div .change{
    margin-right: 50px;
    float: left;
    padding: 10px
}

.cyxx_div .change:hover {
    cursor: pointer;
    background-color: #fcfffb;
}

.cyxx_div li{
    display: block;
    width: 100%;
    clear: both;
    height: 73px;
}
.cyxx_div li label{
    display: inline-block;width: 9%;text-align: left;
}
.cyxx_div li input[type=text]{
    width: 13%;
    height: 45px;
    padding-left: 1%;
}
.cyxx_div table{
    width: 100%;
}
.cyxx_div table td{
    width: 10%;
    text-align: center;
}


/*个人订单*/
.wddd_div{
    padding: 40px;
    width: 100%;
}
.wddd_div_li{
    display: block;
    width: 9%;
    float: left;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d2d6de;
}
.wddd_div_li:hover{
    border-bottom: 1px solid #00B83F;
    cursor: pointer;
}

.wddd_div_title{
    width: 100%;border-bottom: 1px solid #d2d6de;height: 60px;    float: left;
}

.wddd_div_table{
    margin-top: 100px;
}
.wddd_div_table table{
   width: 100%;
}

/*.wddd_div_table td{
    width: 10%;
    text-align: center;
}*/

.wddd_div_tableCfd {
    width: 20%;
    text-align: center;
}

.wddd_div_tableTime {
    width: 10%;
    text-align: center;
}

.wddd_div_tableInvoice {
    width: 5%;
    text-align: center;
}