html, body, h1, h2, h3, h4, h5, h6, header, footer, menu, div, p, ul, ol, blockquote, dl, dt, dd {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 600px;
    background-image: url("../../api/img/app/bj.png");
    background-size:100% 100%;
}

.button {
    border: 0px;
}


iframe body{
    width: 100%;
}


ul, li {
    list-style-type: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}


.content {
    margin: 80px auto;
    width: 80%;
}

.margin_div{
    margin-top: 15px;
}
.margin_div2{
    margin-top: 40px;
}

.app_input{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline:none;
}
.app_buttom_ls{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color:#80c369;
    border: 1px solid #80c369;
}
.app_buttom_ls_one{
    position: absolute;
    width: 30%;
    height: 37px;
    text-align: center;
    padding: 2% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #80c369;
    border: 1px solid #80c369;
    margin-top: -43px;
    margin-left: 175px;
}
.app_buttom_bs{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c1cac3;
    background-color:white;
    border: 1px solid #80c369;
}

.app_title_back{
    width:100%;text-align: left;
    padding-left: 7%;
    padding-top: 11%;
}
.back{
    display: inline-block;
    border-left: 2px solid;
    border-bottom: 2px solid;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    color: white;
}

.xxxx_right{
    background-color: white;border: none;text-align: right;width: 109px;position: absolute; right: 30px;
}



/*个人订单*/
.wddd_div{
    width: 100%;
}
.wddd_div_li{
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    padding: 14px 0;
    border-right: 1px solid #d2d6de;
}
.wddd_div_li:hover{
    border-bottom: 1px solid #00B83F;
    cursor: pointer;
}

.wddd_div_title{
    width: 100%;border-bottom: 1px solid #d2d6de;float: left;
}

.wddd_div_table{
    overflow-x: auto; overflow-y: auto; width:100%;
}
.wddd_div_table table{
    width: 100%;
}

/*.wddd_div_table td{
    width: 10%;
    text-align: center;
}*/

.wddd_div_tableCfd {
    width: 20%;
    text-align: center;
}

.wddd_div_tableTime {
    width: 10%;
    text-align: center;
}

.wddd_div_tableInvoice {
    width: 5%;
    text-align: center;
}