html, body, h1, h2, h3, h4, h5, h6, header, footer, menu, div, p, ul, ol, blockquote, dl, dt, dd {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 600px;
    background-image: url("../../api/img/app/bj.png");
    background-size:100% 100%;
}

.button {
    border: 0px;
}


iframe body{
    width: 100%;
}


ul, li {
    list-style-type: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}


.content {
    margin: 80px auto;
    width: 80%;
}

.margin_div{
    margin-top: 15px;
}
.margin_div2{
    margin-top: 40px;
}

.app_input{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline:none;
}
.app_buttom_ls{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color:#80c369;
    border: 1px solid #80c369;
}
.app_buttom_ls_one{
    position: absolute;
    width: 30%;
    height: 37px;
    text-align: center;
    padding: 2% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #80c369;
    border: 1px solid #80c369;
    margin-top: -43px;
    margin-left: 175px;
}
.app_buttom_bs{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5% 0;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c1cac3;
    background-color:white;
    border: 1px solid #80c369;
}

.app_title_back{
    width:100%;text-align: left;
    padding-left: 7%;
    padding-top: 11%;
}
.back{
    display: inline-block;
    border-left: 2px solid;
    border-bottom: 2px solid;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    color: white;
}

.xxxx_right{
    background-color: white;border: none;text-align: right;width: 109px;position: absolute; right: 30px;
}



/*个人订单*/
.wddd_div{
    width: 100%;
}
.wddd_div_li{
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    padding: 14px 0;
    border-right: 1px solid #d2d6de;
}
.wddd_div_li:hover{
    border-bottom: 1px solid #00B83F;
    cursor: pointer;
}

.wddd_div_title{
    width: 100%;border-bottom: 1px solid #d2d6de;float: left;
}

.wddd_div_table{
    overflow-x: auto; overflow-y: auto; width:100%;
}
.wddd_div_table table{
    width: 100%;
}

/*.wddd_div_table td{
    width: 10%;
    text-align: center;
}*/

.wddd_div_tableCfd {
    width: 20%;
    text-align: center;
}

.wddd_div_tableTime {
    width: 10%;
    text-align: center;
}

.wddd_div_tableInvoice {
    width: 5%;
    text-align: center;
}


/*发布行程*/
.fbxc_div_all{
    display: none;
}
.fbxc_div{

}
.fbxc_div .firs_one{
    display: block;
    margin: 36px auto;
    width: 93%;
    background-color: #8cff94;
    height: 118px;
    border-radius: 11px;
    text-align: center;
    padding-top: 37px;
}
.firs_one:after {
    font-family: "ptmicon"!important;
    right: 15px;
    content: '>';
}
.firs_one:after {
    font-family: 'ptmicon';
    font-size: inherit;
    line-height: 1;
    color: #bbb;
    text-decoration: none;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
}

.fbxc_div li span:first-child{
    display: inline-block;
}

.fbxcInputTime{
    height: 33px;
    border: solid 1px #333333;
    opacity: 0.5;
    border-radius: 5px;
}
.fbxcSpanRed{
    width: 10px;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fe0000;
}
.fbxcSpanName {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
}

.fbxcSelect{
    width: 88px;
    height: 28px;
    border: solid 1px #333333;
    opacity: 0.5;
    background-color: white;
    border-radius: 5px;
}
.fbxcYcrs{
    width: 126px;
    height: 28px;
    border: solid 1px #333333;
    opacity: 0.5;
    border-radius: 5px;
}
.fbxcRemarks{
    height: 112px;
    border: solid 1px #333333;
    opacity: 0.5;
}
.fbxcRedio{
    width: 50px;
    height: 15px;
    background-color: #d9d9d9;
    border: solid 0px #b7b7b7;
}
.fbxctitleName{
    width: 56px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fe0000;
}

.fbxcBtn{
    width: 188px;
    height: 45px;
    background-color: #80c269;
    border-radius: 5px;
    margin-top: 43px;
}

.fbxcDelBtn{
    width: 80px;
    height: 33px;
    background-color: #fe413f;
    border-radius: 5px;
}
.fbxcTjBtn{
    width: 137px;
    height: 38px;
    background-color: #80c269;
    border-radius: 5px;
}

.fbxcCyBtn{
    width: 79px;
    height: 38px;
    background-color: #80c269;
    border-radius: 5px;
}

.fbxcRedioName{
    width: 80px;
    height: 22px;
    font-size: 12px;
}

.fbxc_div_content{

}
.fbxc_div_content_content{

}
.fbxc_div_content_content li{
    display: block;
    padding-top: 14px;
}
.fbxc_div_title{
    width: 100%;padding: 4px;background-color:#80c369;
}

.fbxc_div_next{
    background-color:#80c369;margin: 10px auto;padding:  10px 0;text-align: center;width: 100px;
}